[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-getiplay
Exec=harbour-getiplay
Name=GetiPlay
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=GetiPlay
[X-Sailjail]
Permissions=Audio;Downloads;Internet;RemovableMedia;UserDirs
OrganizationName=uk.co.flypig
ApplicationName=harbour-getiplay
